In [19]:
import pandas as pd
import numpy as np

df = pd.read_excel('indo_08_33.xls', header = 2)
df = df.dropna().reset_index(drop = True)
df_sliced = df.iloc[:12, 1:]
df_sliced

,2012,2013,2014,2015,2016,2017,2018,2019
0,94681.9,116823.5,134451.8,123841.9,95110.5,98553.5,110378.2,121692.5
1,81528.9,89777.8,49782.0,36684.5,50961.1,48167.4,48135.7,65670.5
2,35068.2,37711.5,35579.3,32503.5,33037.8,31421.4,28722.9,28436.4
3,37899.1,36149.6,35574.1,33037.3,34943.2,38075.1,37150.9,29550.0
4,28692.4,27947.2,27018.3,24088.1,20289.5,18187.7,17935.1,19061.2
5,16034.5,17120.6,14452.5,16567.5,17272.4,21189.9,22045.4,25323.5
6,11621.1,14508.8,15021.3,15811.3,17503.4,18977.9,22595.0,27450.8
7,14676,14258.0,16196.1,17729.5,16439.0,16374.7,19964.1,17600.4
8,11789.5,12875.6,12513.5,9414.7,9423.9,8449.8,9028.4,7876.8
9,5704.8,4078.0,4071.5,4826.5,4944.0,3232.2,2463.9,684.6
10,9808.1,10133.6,11642.4,13882.6,11405.0,16468.8,24704.7,31589.1
11,347504,381384.2,356302.8,328387.4,311329.8,319098.4,343124.3,374935.8

In [26]:
#pake to_numpy buat dijadikan array

values_array = df_sliced.to_numpy()
values_array = values_array.flatten()

#mean
mean = np.mean(values_array)
mean

57543.06666666666

In [31]:
np.mean(np.mean(df_sliced).values)

57543.066666666666

In [32]:
np.mean(df_sliced)

2012    57917.416667
2013    63564.033333
2014    59383.800000
2015    54731.233333
2016    51888.300000
2017    53183.066667
2018    57187.383333
2019    62489.300000
dtype: float64

In [43]:
df_sliced.columns = df_sliced.columns.astype('str')
df_sliced['2012']

0     94681.9
1     81528.9
2     35068.2
3     37899.1
4     28692.4
5     16034.5
6     11621.1
7       14676
8     11789.5
9      5704.8
10     9808.1
11     347504
Name: 2012, dtype: object